[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
pytest = "*"

[packages]
amigo-invisible = {editable = true,path = "."}
jinja2 = "*"
python-dotenv = "*"
aiosmtplib = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
